/* Google Font Css Links 
font-family: 'Inter', sans-serif;
font-family: 'Poppins', sans-serif; 
*/


@import url('https://fonts.googleapis.com/css2?family=Inter:wght@600;700&family=Poppins:wght@400;500;600&display=swap');


/* General Css */

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
    font-size: 18px;
    line-height: 28px;
    color: #707070;
}

.primary-btn{
    padding: 16px 20px;
    background-color: #FF5959;
    border: none;
    color: #fdfdfd;
    border-radius: 5px;
}


/* Header CSS */

header{
    background: linear-gradient(to left, #1e2325c7, #00000096) ,url(images/donation5.jpg) ,url(images/donation5.jpg);
    background-position: center;
    background-size: cover;
    width: 100%;
    height: 770px;
}

.header-content{
    background: #2b2b2bcf;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 30px;
}

.site_logo_title a{
    display: flex;
    align-items: center;
    text-decoration: none;
}

.site_logo_title img{
    width: 100px;
    height: 80px;
    border-radius: 50%;
}

.site_logo_title h2, .site_logo_title h2 span {
    font-size: 30px;
    font-weight: 700;
    margin-left: -10px;
    color: #b3aeae;
}

.site_logo_title h2 span {
    color: #ed1b24;
}

/* navbar css */

header nav ul {
    display: flex;
    
}

header nav ul li {
    list-style: none;
    margin: 0 10px;
    
    
}

header nav ul li a {
    font-family: 'Inter', sans-serif;
    font-size: 18px;
    font-weight: 400px;
    text-decoration: none;
    color: #FF5959;
    padding: 5px;
    transition: 0.5s ease all;
}

header nav ul li a:hover {
    color: #e81f1f;
    font-weight: 500px;
}

/* background: #383f42c7; */

/* Banner CSS */
.banner-content{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 60%;
    margin: 175px auto;
    text-align: ;
}

.banner-content h2{
    font-weight: 700;
    font-size: 65px;
    line-height: 79px;
    text-align: center;
    color: #FFFFFF;
    margin-bottom: 20px;
}

.banner-content p{
    font-weight: 400;
    font-size: 18px;
    line-height: 28px;
    text-align: center;
    color: #FFFFFF;
    margin-bottom: 30px;
}

.banner-content button{
    font-weight: 600;
    font-size: 20px;
    line-height: 24px;
}

/* Main Content Css */
.donate-section {
    width: 60%;
    margin: 130px auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}


.donate-section h3, .plan-section h3 {
    margin-bottom: 20px;
    font-weight: 700;
    font-size: 45px;
    line-height: 54px;
    color: #121212;
}

.donate-section > p {
    margin-bottom: 50px;
}

.prices {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 20px;
}

.amounts {
    padding: 30px 15px;
    border: 1px solid #70707090;
    border-radius: 5px;
    margin-bottom: 60px;
}

.amounts:hover{
    background: #FFEEEE;
    border: 1px solid #FF5959;
    cursor: pointer;
}

.amounts p {
    font-weight: 700;
    font-size: 30px;
    line-height: 36px;
}

.custom-price {
    background: #FFEEEE;
    padding: 0 175px 75px 175px;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
}

.custom-price .custom-amount{
    margin: 60px 0;
}

.custom-price > input[type=number] {
    -moz-appearance: textfield;
    padding: 5px;
    outline: none;
    border: 2px solid #FF5959;
    border-radius: 5px;
    margin-bottom: 30px;
    width: 200px;
    height: 45px;
    text-align: center;
}

/* Planning CSS */

.plan-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: auto;
    width: 78%;
}

.plan-section > p {
    text-align: center;
    margin: 0 75px 50px 75px;
    
}


.planning-segment1, .planning-segment2, .planning-segment3 {
    padding: 50px 20px;
    text-align: left;
}

.planning-segment1 img, .planning-segment2 img, .planning-segment3 img {
    margin-bottom: 30px;
}

.planning-segment1 h5, .planning-segment2 h5, .planning-segment3 h5{
    font-weight: 600;
    font-size: 24px;
    line-height: 36px;
    color: #121212;
    margin-bottom: 15px;
}

.planning-segment1 p, .planning-segment2 p, .planning-segment3 p{
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: #707070;
}

.plans {
    display: flex;
    gap: 25px;
  }

.planning-segment1 {
    background: rgba(79, 157, 166, 0.1);
    border-radius: 5px;
}

.planning-segment2 {
    background: rgba(255, 89, 89, 0.1);
    border-radius: 5px;
}

.planning-segment3 {
    background: rgb(255, 244, 214);
    border-radius: 5px;
}

/* Card CSS */

.cards {
    width: 70%;
    margin: 130px auto;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 100px;
    flex-direction: column;
}


.card-item-1, .card-item-2 {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 75px;
}

.card-item-1 div img, .card-item-2 div img {
    width: 400px;
    height: 400px;
    border-radius: 5px;
}

.card-item-1 div h3, .card-item-2 div h3 {
    font-weight: 700;
    font-size: 45px;
    line-height: 54px;
    color: #121212;
    margin-bottom: 20px;
}

.card-item-1 div p, .card-item-2 div p, .subscribe-section p {
    font-weight: 400;
    font-size: 18px;
    line-height: 28px;
    color: #707070;
    margin-bottom: 30px;
}

/* Subscribe css */

.subscribe-section {
    display: flex;
    flex-direction: column;
    width: 60%;
    margin: auto;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-bottom: 130px;
}

.subscribe-section h2{
    font-weight: 700;
    font-size: 45px;
    line-height: 54px;
    color: #121212;
    margin-bottom: 20px;
}

.subscribe-section div {
    display: flex;
    padding: 75px 190px;
    background: #FFF4D6;
    border-radius: 2px;
}

  .subscribe-section div button {
    border-radius: 0 5px 5px 0;
    border: 2px solid #FF5959;
}

.subscribe-section div input {
    background: #D9D9D9;
    border: 1px solid #FF5959;
    border-radius: 5px 0 0 5px;
    font-weight: 500;
    font-size: 16px;
    line-height: 20px;
    color: #AA9F9F;
    outline: none;
    padding-left: 10px;
}

/* footer css */

footer {
    padding: 45px 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: #0B0D17;
}
  
footer h2 {
    font-weight: 600;
    font-size: 36px;
    line-height: 44px;
    margin-bottom: 25px;
    color: #FF5959;
}
  
footer p {
    color: #fdfdfd;
}








